
@{
    Layout = null;
    var memberName = ViewBag.MemberName;
}



<div class="container">
    <h2 style="text-align:center;"><strong>中国光大银行个人人民币银行结算账户管理协议</strong></h2>
    <br />
    <br />
    <p style="text-indent:2em;">甲方：@memberName</p>
    <p style="text-indent:2em;">乙方：中国光大银行股份有限公司 </p>
    <p style="text-indent:2em;"><strong>甲方自愿申请在乙方开立银行账户，使用乙方提供的银行账户服务，为明确双方的权利和义务，维护双方的合法权益，特签订本服务协议。</strong></p>
    <br />
    <h4 style="text-indent:2em;"><strong>第一条 定义 </strong></h4>
    <p style="text-indent:2em;">1. “个人人民币银行结算账户”（以下称“银行账户”）：指甲方通过乙方渠道或乙方合作公司渠道申请，经乙方核准后为甲方开立的，通过乙方渠道或乙方合作公司渠道办理结算、储蓄和其他乙方或乙方合作公司提供的金融、生活业务的个人人民币银行结算账户。</p>
    <p style="text-indent:2em;">2. “电子账户”：本协议中为甲方开立的银行账户类型为非面对面开立的II、III类个人银行结算账户。</p>
    <p style="text-indent:2em;">3. 乙方渠道：指乙方手机银行、网上银行、电话银行、微信银行、自助设备、直销银行等乙方届时开放的自有渠道。乙方不同渠道提供的可办理的业务类型以法律法规及乙方届时规定为准。</p>
    <p style="text-indent:2em;">4、乙方合作公司渠道：指与乙方有电子账户合作关系，共同为甲方提供电子账户开立等相关服务的合作公司所提供的渠道，包括但不限于网页、APP、微信公众号、POS等线上线下渠道。</p>
    <p style="text-indent:2em;">5. 绑定手机号码：是指甲方在申请开立电子账户时，指定的关联银行账户的手机号码。该手机号码用于接收乙方或乙方合作公司发送的授权码、短信验证码、账户资金变动提醒、营销短信以及交易提示短信等的手机号码。乙方或乙方合作公司认为必要时，可通过此手机号码向甲方核实身份信息和交易信息。 <strong>电子账户的每个绑定账户仅可对应一个绑定手机号码。</strong></p>
    <br />
    <h4 style="text-indent:2em;"><strong>第二条 账户申请与开立</strong></h4>
    <p style="text-indent:2em;">1.甲方可通过乙方渠道及乙方合作公司渠道申请开立电子账户，甲方应按乙方要求提供申请资料、身份信息以及其他乙方要求提供的资料， 经乙方核准后为甲方开立相应账户，具体账户类型届时以乙方开立的为准。</p>
    <p style="text-indent:2em;">2.甲方可申请开立的账户类型及账户数量届时以法律法规规定及乙方相关规定为准。 </p>
    <p style="text-indent:2em;">3.甲方在乙方开立的电子账户为实名制账户。甲方应按照法律法规及乙方的要求提供真实、完整、有效的实名身份资料，包括但不限于：甲方的开户证件类型、证件号码、证件有效期、身份证正反面影印件、发证机关地区、姓名、手机号码、职业、Email、联系地址、邮政编码、性别、本人名下一张Ⅰ类账户或信用卡账户卡号、归属银行等信息，并需确保该账户是甲方本人合法获得且真实有效，并处于甲方有效掌控下的。且甲方知悉并同意，无论乙方是否核准开立电子账户或电子账户是否终止使用，乙方不退还有关申请资料。</p>
    <p style="text-indent:2em;"><strong>4.如甲方申请资料不真实，或存在法律法规、监管政策及乙方届时规定的拒绝开户情形时，乙方有权拒绝为甲方开户。 若开户后，发现甲方伪造开户材料、绑定卡属于风险账户等情况，甲方有权冻结或撤销该账户。</strong></p>
    <p style="text-indent:2em;">5.甲方在乙方渠道或乙方合作公司渠道申请开立II类个人银行结算账户时，需核实并确保提供的绑定账户为甲方本人名下的、可正常使用的I类账户或信用卡账户。 </p>
    <p style="text-indent:2em;">6、甲方必须为具有完全民事行为能力的自然人。甲方自愿申请开立电子账户，并承诺申请电子账户时具有完全民事行为能力。基于对甲方负责的审慎原则，乙方有权对开户人年龄做出一定的限制，并有权进行调整。</p>
    <p style="text-indent:2em;">7、甲方必须确保本人非美国个人，美国个人是指根据相关法规及税收协定，在美国负有纳税义务的个人。主要包括具有美国国籍，或持有美国绿卡或在美国长期逗留的自然人。</p>
    <p style="text-indent:2em;">8、电子账户持有人必须仅为中国税收居民，此处所称中国税收居民是指在中国境内有住所，或者无住所而在境内居住满一年的个人。在中国境内有住所是指因户籍、家庭、经济利益关系而在中国境内习惯性居住。在境内居住满一年，是指在一个纳税年度中在中国境内居住365日。临时离境的，不扣减日数。临时离境，是指在一个纳税年度中一次不超过30日或者多次累计不超过90日的离境。</p>
    <p style="text-indent:2em;"><strong>9、甲方授权乙方可以按照国家（国际）税务申报要求向有关机构报送甲方的相关信息。如申请人未按国家（国际）税务申报要求向乙方及时、准确提供个人身份信息，致使形成的个人损失，责任自负；如因此给乙方造成损失，则由甲方承担赔偿责任。如有必要，乙方有权决定中止或终止与甲方的业务服务。</strong></p>
    <br />
    <h4 style="text-indent:2em;"><strong>第三条 账户的使用 </strong></h4>
    <p style="text-indent:2em;">甲方知悉并同意如下账户使用规则： </p>
    <p style="text-indent:2em;">1.账户用途：</p>
    <p style="text-indent:2em;">（1）II 类户可以办理存款、购买投资理财产品等金融产品、限额消费和缴费、限额向非绑定账户转出资金 、贷款发放及归还业务。经乙方柜面、自助设备加以乙方工作人员现场面对面确认身份的， II 类户还可以办理存取现金、非绑定账户资金转入业务。 II类户还可以通过基于符合监管要求技术标准的移动支付工具进行小额取现。 具体转入、转出的资金限额以法律法规 、监管规定及乙方届时规定为准。 </p>
    <p style="text-indent:2em;">（2）III 类户可以办理限额消费和缴费、限额向非绑定账户转出资金、小额消费贷款发放及归还等业务。通过乙方渠道或乙方合作公司渠道非面对面新开立III类户，且通过绑定账户转入资金验证的，可以接收非绑定卡账户小额转入资金，但非面对面方式仅能开立一个允许非绑定卡入金的III 类户。III类户还可以通过基于符合监管要求技术标准的移动支付工具进行小额取现。具体转入、转出的资金限额以法律法规、监管规定及乙方届时规定为准。</p>
    <p style="text-indent:2em;">（3）甲方将资金转入至电子账户时，甲方授权乙方或乙方合作公司将甲方电子账户绑定账户中的资金，划转至其开立在乙方的电子账户中。</p>
    <p style="text-indent:2em;">（4）甲方电子账户资金转出时，甲方授权乙方完成指定交易，即乙方将甲方电子账户中资金划转至产品提供方的资金结算账户中或将资金从电子账户转出至绑定账户或进行转账汇款等。<strong>因甲方提供的付款账户信息验证不成功、付款账户余额不足、账户状态异常等原因导致的扣款失败，所产生的后果由甲方承担，乙方对此不承担任何责任。</strong></p>
    <p style="text-indent:2em;">（5）甲方可以在银行账户开立渠道进行银行账户的查询、管理。<strong>同时甲方同意乙方为其开通乙方手机银行渠道，通过乙方手机银行渠道查询、管理甲方在乙方渠道及乙方合作公司渠道开立的银行账户。</strong></p>
    <p style="text-indent:2em;">（6）银行账户可以采取卡、折、单、证以及电子记录等多种形式记载。乙方可根据甲方的申请情况、乙方届时的管理政策以及法律法规规定，在符合法律法规、监管规定及乙方要求的条件情况下，为甲方开立的II类账户配发或不配发实体介质，III类账户不配发实体介质。配发或不配发实体介质银行账户的使用渠道及使用方式不尽相同，具体以法律法规、监管规定及甲方与乙方另行签署的协议及乙方届时规定为准。</p>
    <p style="text-indent:2em;">（7）银行账户在不同乙方渠道的使用规则与方式以甲方与乙方另行签署的服务协议为准。 </p>
    <p style="text-indent:2em;">2. 甲方只能用银行账户享受乙方已开通的、与账户类型相应的金融服务。 </p>
    <p style="text-indent:2em;">3. 乙方有权根据业务需要和有关法律法规及监管政策的规定对银行账户的交易限额进行调整。 </p>
    <p style="text-indent:2em;"><strong>4.长期不动银行账户处理 ：</strong></p>
    <p style="text-indent:2em;"><strong>（1）若甲方成功开立乙方银行账户，自开户之日次日起6个月内无任何交易记录或长期处于零余额，乙方按照人民银行要求，有权暂停其银行账户服务。</strong></p>
    <p style="text-indent:2em;"><strong>（2）甲方银行账户自上次交易日起满二年（含）无主动交易且余额为0，乙方有权冻结该账户。冻结期满一年，且客户未申请重新启用的，乙方有权进行销户处理。</strong></p>
    <p style="text-indent:2em;"><strong>（3）甲方银行账户自上次交易日起满三年（含）无主动交易，账户余额为10元（含）以下，没有关联其他账户的，乙方有权将该账户列为小额不动户管理，并按原账户计息规则计息。小额不动户不收不付。甲方在乙方重新进行实名制认证后，可恢复该账户业务或办理销户。</strong></p>
    <p style="text-indent:2em;"><strong>（4） 在甲方银行账户同时满足以下三个条件时 ，乙方将甲方账户列入久悬账户 ：a)六个月（含）以上未发生交易的银行账户；b)活期人民币账户余额小于100元（不含，包括零余额账户）；c)截至处理日甲方不存在尚未清偿乙方的债务，或金融产品等未清算资金等情况的。  久悬账户按日计息，按季结息。久悬账户可以汇入，不得办理除银行账户结息、扣收账户管理费等因账户管理本身形成的资金收付外的汇出、存现或取现业务，如需办理该等业务，甲方须提供乙方要求的身份资料信息，按乙方要求重新审核，重新启用账户后办理。 </strong></p>
    <p style="text-indent:2em;"><strong>5.甲方银行账户如被有权机关查询、冻结和扣划的，乙方有权按照国家有权机关要求予以协助执行，由此产生的任何损失由甲方自行承担。 </strong></p>
    <p style="text-indent:2em;"><strong>6.在符合国家法律法规、监管政策和乙方届时有关制度的情形下，在国家有权机关要求时，乙方有权对甲方银行账户进行止收止付。</strong></p>
    <p style="text-indent:2em;">7.甲方本人（单位）充分了解并清楚知晓出租、出借、出售、购买账户的相关法律责任和惩戒措施，承诺依法依规开立和使用本人（单位）账户。否则，由此产生的损失由甲方自行承担。</p>
    <p style="text-indent:2em;">8.乙方为甲方提供银行账户服务，甲方应按乙方的规定进行操作，因操作不当造成的损失，乙方不承担任何责任。</p>
    <p style="text-indent:2em;">9.乙方有权根据国家法律法规、监管政策及乙方规定收取账户管理费用。具体收费标准以乙方届时公布为准。</p>
    <br />
    <h4 style="text-indent:2em;"><strong>第四条 凭证和签章</strong></h4>
    <p style="text-indent:2em;"><strong>1.甲方知悉并同意，乙方渠道及乙方合作公司渠道形成及存储的与服务相关的凭证、凭条、交易记录、数据电文是甲方使用银行账户情况的真实、有效书面证明。 </strong></p>
    <p style="text-indent:2em;"><strong>2、甲方登录乙方渠道或与乙方合作公司渠道办理业务时，需使用该渠道设置的交易或支付密码。该密码是确认甲方真实意愿的重要信息，使用该密码进行的交易均视为甲方本人操作行为。甲方应妥善保管该渠道的用户名、登录密码、渠道交易密码、支付密码等个人信息，不得将渠道用户转借、转租他人使用。因甲方将渠道用户转借、转租他人使用或泄露资料所产生的风险及全部损失由甲方自行承担。</strong></p>
    <p style="text-indent:2em;">3.甲方若设置过银行账户密码且遗忘的，可通过乙方指定的乙方渠道进行密码重置。 </p>
    <br />
    <h4 style="text-indent:2em;"><strong>第五条 账户管理规则 </strong></h4>
    <p style="text-indent:2em;">1.甲方在乙方开立、使用、变更、撤销银行账户，应遵守《人民币银行结算账户管理办法》、《中国人民银行关于改进个人银行账户服务加强账户管理的通知》及其后续修订等中华人民共和国的法律、法规和中国人民银行、中国银行业监督管理委员会及国家外汇管理局的各项规定及乙方的业务制度规定。</p>
    <p style="text-indent:2em;">2.甲方承诺向乙方提供的所有资料真实、有效、完整、准确、合法，提交的开户证件符合《个人存款账户实名制规定》和《中国人民银行关于改进个人银行账户服务加强账户管理的通知》，未由他人代办或冒充他人申请。<strong>如甲方提供的资料不符合要求或存在代办、冒充他人申请等情形，乙方有权拒绝甲方的申请，对于已经开立了银行账户的，中止或终止银行账户的使用，并依据相关法律法规、监管规定要求办理销户及资金处理。</strong></p>
    <p style="text-indent:2em;"><strong>3.甲方开立乙方电子账户时使用的身份证件过期的，乙方有权根据法律法规、监管规定要求，对银行账户采取交易控制，包括但不限于银行账户可以汇入资金，不得办理除银行账户结息、扣收账户管理费等因账户管理本身形成的资金收付外的汇出、存现或取现业务，如需办理该类业务，须按照乙方要求重新提供最新身份资料信息，经乙方重新审核通过后恢复账户使用。甲方开立乙方电子账户后，变更姓名等关键信息的，应及时按照乙方要求向乙方提出变更申请，未及时提供变更信息的，乙方有权暂停相关银行账户服务。</strong></p>
    <p style="text-indent:2em;"><strong>4.甲方违反本协议的约定使用账户，或乙方认为甲方存在非法、非安全、欺诈风险的情况下使用账户，乙方有权：（1）增加核实甲方身份的措施，具体增加措施以乙方届时要求为准 ；（2）限制或终止账户的使用；（3）不予执行甲方的交易指令。</strong></p>
    <p style="text-indent:2em;">5.甲方不得利用银行账户进行偷逃税款、逃废债务、套取现金、洗钱、恐怖融资及其他违法犯罪活动。如客户存在洗钱、出卖银行账户等违法行为时，乙方有权（ 1 ）限制或终止账户的使用；（ 2 ）不予执行甲方的交易指令。</p>
    <p style="text-indent:2em;"><strong>6.甲方应妥善保管银行账户的信息、密码、个人有效身份证件、绑定的手机等个人信息和设备，如上述信息或设备出现遗失、泄露或被他人盗用的情况，甲方应立即拨打乙方指定客户服务电话申请账户冻结，在申请完成前，已发生的损失由甲方自行承担。</strong></p>
    <p style="text-indent:2em;"><strong>7.甲方有权按照乙方的银行账户业务规则向乙方发出划转银行账户资金的指令，乙方应按照法律法规 、监管规定及乙方届时规定及时执行乙方渠道或乙方合作公司传递的甲方指令。甲方同意，乙方将指令发出银行所能控制的乙方系统即为甲方指令执行完成。</strong></p>
    <p style="text-indent:2em;"><strong>8.甲方知悉并同意，由于技术原因，乙方无法确保系统不间断无差错运行，但乙方出于银行账户维护升级的需要而停止银行账户的部分或全部时，应提前一个工作日通过乙方渠道或乙方合作公司渠道公告，由于乙方无法控制的原因发生的银行账户系统停运，乙方将在发生停止运营后三日内通过乙方渠道或乙方合作公司渠道公告。 </strong></p>
    <p style="text-indent:2em;">9.银行账户的变更：</p>
    <p style="text-indent:2em;">（1）甲方可通过乙方渠道或乙方合作公司渠道申请办理姓名、身份证件种类或者号码、手机号码、密码等银行账户变更业务，该等变更应在按照法律法规、监管规定、乙方届时规定完成身份验证之后，方可办理。</p>
    <p style="text-indent:2em;"><strong>（2）甲方通过电子渠道申请办理II、III类户的绑定账户、手机号等信息变更，且绑定的I类账户为他行账户的，应先将II类户所有投资理财等金融产品赎回、提前支取定期存款，将II、III类户资金全部转回绑定账户后方可变更。</strong></p>
    <p style="text-indent:2em;">（3）甲方如欲变更已开立账户类型，可通过届时提供该等服务的乙方渠道或乙方合作公司渠道予以申请，乙方同意后可将相应账户升级或降级。具体可升级或降级的种类以法律法规、监管规定及乙方届时规定为准。</p>
    <p style="text-indent:2em;">10.银行账户的撤销：</p>
    <p style="text-indent:2em;">（1）甲方可申请办理银行账户撤销，账户余额为零且无在途交易时，乙方为甲方办理。</p>
    <p style="text-indent:2em;">（2）甲方可通过开立银行账户的渠道办理销户，或乙方电话银行渠道（95595）进行办理。</p>
    <p style="text-indent:2em;">（3）其他法定的情形。</p>
    <br />
    <h4 style="text-indent:2em;"><strong>第六条 账户指令与记录</strong></h4>
    <p style="text-indent:2em;"><strong>1.乙方记录的甲方银行账户信息的凭证、数据电文（包括但不限于甲方通过电子渠道传递的指令、银行账户交易信息等），为双方认同的书面证据，可视为该交易的有效凭证。</strong></p>
    <p style="text-indent:2em;">2.甲方可通过乙方指定的渠道和形式核对交易记录，乙方有权决定是否寄送纸质或发送电子对账单，如甲方需获取对账单，需通过乙方指定的渠道和方式获取 。如甲方对交易有异议，可致电乙方指定客户服务电话。</p>
    <p style="text-indent:2em;"><strong>3.如乙方发现有下列情形之一，乙方有权不认可或不执行甲方指令：</strong></p>
    <p style="text-indent:2em;"><strong>（1）乙方有充足的理由怀疑数据信息或甲方指令的真实性； </strong></p>
    <p style="text-indent:2em;"><strong>（2）乙方执行甲方指令将违反相关的法律、法规或规章的规定； </strong></p>
    <p style="text-indent:2em;"><strong>（3）甲方发出的数据电文表达的格式、内容、操作权限等不符合乙方要求；</strong></p>
    <p style="text-indent:2em;"><strong>（4）银行账户中的余额或账户状态不足以完成甲方指令（上述情况下乙方有权根据具体情况决定对数据电文表达的甲方指令不予执行或给予部分执行）； </strong></p>
    <p style="text-indent:2em;"><strong>（5）甲方违反本协议或双方已订立的其他协议或合同的；</strong></p>
    <p style="text-indent:2em;"><strong>（6）双方特别约定或法律法规规定的其他情况。 </strong></p>
    <p style="text-indent:2em;"><strong>4.甲方指令一经发出，除乙方允许情况外，不得要求撤销。</strong></p>
    <br />
    <h4 style="text-indent:2em;"><strong>第七条 信息采集、使用和披露 </strong></h4>
    <p style="text-indent:2em;"><strong>1、乙方在法律允许的前提下，为本协议项下业务和管理需要可收集、处理、传递及应用甲方的个人资料，包括但不限于甲方按乙方要求提供的账户开立申请资料、身份信息以及其他乙方要求提供的资料。</strong></p>
    <p style="text-indent:2em;"><strong>2、乙方对甲方的个人隐私和商业秘密（包括申请表等）将依法予以保密，未经客户许可，乙方不向任何第三人提供或许可第三人使用客户个人信息，但以下情况除外：</strong></p>
    <p style="text-indent:2em;"><strong>（1）依照法律、法规规定应向有权机关（包括但不限于向征信机构）披露。</strong></p>
    <p style="text-indent:2em;"><strong>（2）甲方承诺在签署本协议时同意乙方可以：将甲方提供给乙方的信息、享受乙方服务产生的信息以及乙方根据本条约定查询、收集的信息，用于乙方及其因服务必要委托的合作伙伴为甲方提供服务、推荐产品、开展市场调查与信息数据分析。</strong></p>
    <p style="text-indent:2em;"><strong>（3）甲方承诺在签署本协议时同意乙方可以：基于为甲方提供更优质服务和产品的目的，向乙方因服务必要开展业务合作的渠道提供、查询、收集甲方的信息。</strong></p>
    <br />
    <h4 style="text-indent:2em;"><strong>第八条 乙方责任的免除与限制 </strong></h4>
    <p style="text-indent:2em;"><strong>1.甲方使用银行账户时，如非乙方过错而发生的数据电文错误或者对甲方指令识别、处理或执行错误时，乙方对因该项错误的发生所导致的损失和其他不利后果不承担责任；但乙方可在甲方处理时对甲方提供必要的协助。 </strong></p>
    <p style="text-indent:2em;"><strong>2.对于不可抗力（包括但不限于战争、自然灾害、电力供应中断、火灾、地震等）、意外事件或乙方无法控制的其他情况所造成的损失，乙方在法律法规规定的范围内不承担责任。</strong></p>
    <p style="text-indent:2em;"><strong>3.若发生乙方对于合法有效的甲方指令识别错误或执行错误，则甲方须在知道或应当知道错误发生后于两个工作日内书面通知乙方并尽力采取措施防止损失扩大，乙方应尽快调查处理并在合理可行的范围内采取补救措施，对于因银行/银行账户系统错误而造成的甲方直接财产损失，乙方应按适用的规则予以赔偿，但对于任何间接损失、履行利益、后果性损害、非财产损害、乙方于错误发生时不可预见的损失以及因甲方未能及时通知或及时采取措施而导致扩大的损失，乙方不承担责任。</strong></p>
    <p style="text-indent:2em;"><strong>4、若甲方在乙方合作公司渠道开立的电子账户出现资金风险，由乙方合作公司与甲方协商进行处理，经确认非甲方责任的，相关赔付规则参照乙方与乙方合作公司签署的《中国光大银行电子账户业务合作协议》约定执行。</strong></p>
    <br />
    <h4 style="text-indent:2em;"><strong>第九条 公告与变更 </strong></h4>
    <p style="text-indent:2em;"><strong>1.甲方同意，乙方可对本协议及银行账户使用规则进行单方变更，以乙方网点、官方网站或网银、手机银行等乙方渠道或乙方合作公司渠道发布的公告为准。如客户在银行公告的协议变更生效日后继续使用银行账户，视为客户已接受上述变更，相关条款根据该等变更而自动作相应修改，双方无须另行签订书面协议。 </strong></p>
    <p style="text-indent:2em;"><strong>2.乙方在上述任一渠道发布银行账户服务相应公告内容的，自发布之日起视为送达；涉及本协议修改的，自发布之日起本协议自动修改。甲方应及时认真阅读并严格遵守，因甲方使用不当所造成的损失由其自行承担。</strong></p>
    <br />
    <h4 style="text-indent:2em;"><strong>第十条 其他 </strong></h4>
    <p style="text-indent:2em;"><strong>1.乙方通过指定客户服务号码向甲方提供电话银行服务和短信服务，通过乙方指定的乙方渠道或甲方开立电子账户的乙方合作公司渠道提供银行账户申请、进度查询和银行账户服务，因甲方相信欺诈电话、短信或虚假网站而将银行账户信息泄露造成的全部损失由甲方自行承担。</strong></p>
    <p style="text-indent:2em;">2.本协议适用中华人民共和国法律、行政法规和中国人民银行以及中国银行业监督管理委员会的部门规章与命令和有关国内行业惯例。在本协议项下发生的相关争议，双方应友好协商解决，协商不成的，应由乙方所在地的人民法院管辖。</p>
    <p style="text-indent:2em;">3.未尽事宜，依据中华人民共和国法律、法规和中国人民银行以及中国银行业监督管理委员会的部门规章与命令和有关国内行业惯例的规则办理。 </p>
    <p style="text-indent:2em;">4.本协议经甲方在电子渠道申请的，点击确认同意本协议，并经乙方确认后生效，至甲方银行账户撤销后终止。<strong>本协议生效不视为乙方确保为甲方开立银行账户。 在甲方确认签署本协议之前，甲方已认真阅读本协议。在确信其已完全理解的情况下，甲方确认其完全同意本协议的全部条款与内容（特别是但不限于本协议第八条免除与限制乙方责任的条款内容）。</strong></p>

</div>



